*resharper.user
# Visual Studio
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Pp]ackages/
*.sln.cache
*.suo
*.csproj.user
*.user
*.[Cc]ache
*.DS_Store
*.bak
*.ncb
*.log 
TestResults/
[Tt]humbs.db 
Ankh.NoLoad

# Resharper
*[Rr]e[Ss]harper.user
_ReSharper.*/
/ReAttach/packages.config.orig
/ReAttach/ReAttach.csproj.mod
/ReAttach/ReAttach.csproj.orig
/UpgradeLog.htm
/UpgradeLog2.htm
